@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Poppins:wght@100;200&family=Roboto:ital,wght@0,300;1,500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container-1{
    width: 100%;
    padding: 30px;

    display: flex;
    justify-content: center;
    flex-direction: row !important;
    align-items: center;

}




